<%- include('./partials/header.ejs') %>
<main>
    <div class="container">
        <section class="about-section">
            <div class="writer-info">
                <img src="https://media.licdn.com/dms/image/C5603AQEDi_rqLYD6Vw/profile-displayphoto-shrink_200_200/0/1659198859601?e=2147483647&v=beta&t=oDge0E_a9S5GMQDF_5AJU-D78-2TC_HnA9XrpYX1uno" alt="Photo">
                <h2>Shahzad Sayyed</h2>
                <p>Programmer</p>
            </div>
            <div class="bio-text">
                <p>"Hi there! Welcome to my site, News Hub! I'm thrilled to have you here. Let me introduce myself, I'm currently diving deep into automation testing at Jio Platforms Limited. But my true passion lies in web development, especially on the backend. I've got a knack for languages like C, C++, Python, Java, HTML, CSS, and JavaScript.</p>
                <p>Now, about this site, it's my personal project. It's where I showcase my backend skills and share the latest news with you. You'll find it's super easy to navigate, with categories to help you find exactly what you're looking for. So, go ahead, explore, and let me know what you think. Where Every Click Tells a Story, and Every Line of Code Reflects My Passion."</p>
            </div>
        </section>
    </div>
</main>

<%- include('./partials/footer.ejs') %>